@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb;
  font-family: theme('fontFamily.sans');
  color: #1f2937;
}

#root {
  min-height: 100vh;
}
